* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(120deg, #fdfeff 0%, #c2e9fb 100%);
}

.col-md-4 {
    flex: 0 1 30%; /* Set a fixed width for the cards */
    max-width: 30%; /* Ensure the cards do not exceed this width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: 0.5s all;
    margin-bottom: 2rem;
    border-radius: 2rem;
    height: 22rem;
    box-sizing: border-box;
}
.col-md-4:hover {
    transform: scale(0.98);
    box-shadow: 12px 13px 13px -10px rgba(130, 130, 130, 1);
}
#small:hover {
    border: 1px solid yellow;
}

.d-flex {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem; /* Adjust gap between the cards */
}

.booksold {
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar {
    background-color: #429693;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
